<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Places Form</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>
	<body>
		<h1 class="display-1 text-center">Journal</h1>
		<form action="/diary" method="post">
      <label for="cityname">City Name:</label>
      <input type="text" name="cityname" id="cityname" class="form-control" required>
      <label for="days">Days Stayed:</label>
      <input type="number" name="days" id="days" class="form-control" min="0">
      <label for="journal">Journal Entry:</label>
      <input type="text" name="journal" id="journal" class="form-control">
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
	</body>
</html>
